body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

svg {
  color: rgb(246, 59, 137);
  width: 100px;
  height: 3em;
}

/* //////////////////////////////////// */
/* .count-numbers {
  color: rgb(57, 85, 240);
  font-size: large;
} */

.wrap {
  display: flex;
  justify-content: center;
}

.wrap-action {
  width: 310px;
  margin: 20px;
}

.text {
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
}

.text-number {
  /*  */
  margin-right: 15px;
  /* display: block; */
  border-color: rgb(48, 92, 235);
  border-style: solid;
  width: 30px;
  height: 30px;
  /* padding: auto auto; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(48, 92, 235);
  color: #fff;
}

.text-name {
  /*  */
  /* margin-bottom: 5px; */
}

.description {
  margin-left: 50px;
  margin-top: 0px;
}

.flex-wrap {
  display: flex;
  justify-content: center;
}
